#carte {
    width:100%;
    height:800px;
}

.photo {
    width:100px;
}

#resultats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

body{
    font-size: larger;
    background-color: rgb(229, 206, 238);
}

h1{
    text-align: center;
    text-decoration: solid;
    border-radius: 0%;
    text-shadow: 1px;
    
}

h3{
    text-align: center;
}

container{
    display: grid;
    width: 80%;
    margin: auto;
    gap: 5px;
    grid-template-columns: 1fr 0.7fr;
    grid-template-areas: 
            "map liste";
}

liste{
    grid-area: liste;
    padding: 5px;
    border: 1px solid black;
    max-height: 800px;
    overflow-y: scroll;
    grid-area: liste;
}

li{
    text-align: justify;
    display: grid;
    width: 80%;
    margin: auto;
    text-shadow: none;
    box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #e9eb99;
  padding: 7px;
  margin:0px;
  
  


}

a{
    text-align: ;
    margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}

input{
    text-align: center;
}

form{
    text-align: center;
}
