*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    display: flex;
    width: 100%;
    height: 56px;
    padding: 8px 0 8px 0;
    margin-bottom: 24px;
    background-color: rgb(33, 37, 41);
}

nav a{
    line-height: calc(56px - 1rem);
    text-decoration: none;
    color: rgb(248, 249, 250);
    font-size: 16px;
    padding: 8px;
}

nav > a{
    padding: 0;
    font-size: 1.25rem;
    margin-left: 12px;
    margin-right: 16px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

header{
    text-align: center;
    grid-area: header;
}

header h1, header h2{
    margin-bottom: 1rem;
}

header button{
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}


#container{
    display: grid;
    width: 80%;
    margin: 0 auto 1rem auto;
    gap: 5px;
    grid-template-columns: 1fr 0.7fr;
    grid-template-areas: 
            "header header"
            "map liste";
}

#map {
    grid-area: map;
    height: 800px;
 }

#liste{
    text-align: center;
    grid-area: liste;
    padding: 5px;
    max-height: 800px;
    overflow-y: scroll;
}

#liste h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#liste > hr{
    margin: 1rem 0 1rem 0;
    border-color: black;
}

#liste ul{
    text-align: start;
    padding: 0;
    margin: 0;
}

#liste ul li{
    cursor: pointer;
    list-style: none;
    padding: 5px 10px 5px 10px;
}

#liste ul li:nth-child(odd){
    background-color: rgba(50,50,50,0.2);
}

#liste ul li:hover{
    background-color: rgba(0,255,0,0.3);
}

@media screen and (width <= 992px) {
    #container{
        grid-template-columns: 1fr;
        grid-template-areas: 
                "header"
                "map"
                "liste";
    }
    #map{
        margin-bottom: 1rem;
    }
}