*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: grid;
    width: 80%;
    margin: auto;
    gap: 5px;
    grid-template-columns: 1fr 0.7fr;
    grid-template-areas: 
            "map liste";
}


#map {
    grid-area: map;
    height: 800px;
 }

#liste{
    grid-area: liste;
    padding: 5px;
    border: 1px solid black;
    max-height: 800px;
    overflow-y: scroll;
}

#liste ul{
    padding: 0;
    margin: 0;
}

#liste ul li{
    cursor: pointer;
    list-style: none;
    padding: 5px 10px 5px 10px;
}

#liste ul li:nth-child(odd){
    background-color: rgba(50,50,50,0.2);
}

#liste ul li:hover{
    background-color: rgba(0,255,0,0.3);
}

@media screen and (width <= 576px) {
    #container{
        grid-template-columns: 1fr;
        grid-template-areas: 
                "map"
                "liste";
    }
    #map{
        margin-bottom: 1rem;
    }
}