@font-face {
    font-family: HVNThin;
    src: url("../assets/helvetica-neue-5/HelveticaNeueThin.otf");

    font-family: HVNRoman;
    src: url("../assets/helvetica-neue-5/HelveticaNeueRoman.otf");
  }

.errorMessage {
  color: red;
}

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 2vh;

    border: 1px solid black;
    border-radius: 20px;
  }

  header h1 {
    margin: 2vh 0;
  }

  
  .loginCall {
    margin: 1vh 0 2vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h2, main h3 {
  margin: 1vh 0;
}

.theMap {
    height: 600px;
    width: 600px;
    grid-area: mapGrid;
}

.cineList {
  grid-area: listGrid;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#cineJSON ul {
  list-style: none;
}

.hideLogin {
  display: none;
}

#loginError {
  color: yellow;
}

.showLogin {
  animation-name: fadeIn;
  animation-duration: 2s;  
}

@keyframes fadeIn {    /*  Petit animation qui fait transformer le main header  */

  0% {display: block; opacity: 0;}
  25% {opacity: 0.25;}
  50% {opacity: 0.50;}
  75% {opacity: 0.75;}
  100% {opacity: 1;}
}   


.normalHead {
  display: block;
  opacity: 1;
  padding: 2vh 0;
  text-align: center;
}

.fadingHead {
  animation-name: fadeOut;
  animation-duration: 2s;
}

.goneHead {
  display: none;
}

@keyframes fadeOut {    /*  Petit animation qui fait transformer le main header  */

  0% {opacity: 0.75; padding: 2vh 0;}
  25% {opacity: 0.50; padding: 2vh 0;}
  50% {opacity: 0.25; padding: 2vh 0;}
  75% {opacity: 0; padding: 2vh 0;}
  100% {display: none;};
}   

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginForm label, #loginForm input {
  font-size: small;
}

.mapAndList {
  display: grid;
  
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 600px;
  grid-template-areas: 
  "mapGrid listGrid";
  
  align-items: start;
  justify-content: center;

  width: 80%;
}