h1{
    text-align: center;
}

h2{
    text-align: center;
}
.con {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    justify-content: center;
    margin-left: 33%;
    margin-right: 33%;
  }

  #map { width: 50%; height: 700px; }
  
  .rouge, .rouge a {color:red;}
        
    h3, h1 {text-align: center;}
        
    .photo {width:100px;}
        
    #resultats { display:flex; }
        
    #liste { width:40%; height:700px; overflow-y: scroll;}