.G{
    color: rgb(31, 106, 247);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
.u{
    color: rgb(243, 37, 23);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
.i{
    color: rgb(230, 230, 23);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
.g{
    color: rgb(31, 106, 247);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
.l{
    color: rgb(41, 161, 41);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
.e{
    color: rgb(243, 37, 23);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}


#map {
    width: 100%;
    height: 500px;
}

#resultat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 5% 0% 0% 0%;
    grid-template-areas: 
            "map liste";
    margin-left: 10%;
    margin-right: 10%;
}

#liste {
    font-family: monospace;
    font-size: large;
    overflow-y: scroll;
    max-height: 500px;
}

#liste ul li:nth-child(odd){
    background-color: rgba(50,50,50,0.2);
}

#liste ul li:hover{
    background-color: rgba(0,255,0,0.3);
}

h1 {
    font-family:monospace;
}

span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gui{
    font-size: 60px;
}

#titleHome{
    display: grid;
    grid-area: auto;
    grid-template-columns: 1;
    align-content: center;
    justify-content: center;
    margin: 10% 0% 5% 0%;
    width: auto;
    height: 100px;
    font-size: large;

}
.formulaire {
   background-image: url(../img/bg.jpg);
}
