

nav ul li {
  display: inline;
  text-decoration: none;
  padding-right: 1em;
}

#alert {
  color: red;
}

#comment {
  color: rgb(4, 71, 15);
}

#map {
  width: 100%;
  height: 500px;
}

#resultat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 50px 0 0 70px;
}
#liste{
   overflow-y: scroll;
   background-color: beige;
   height: 500px;
}
@media screen and (width <= 1000px) {
  #content{
      width: 100%;
  }
}

@media screen and (width <= 640px) {
  #content{
      grid-template-columns: 1fr;
      grid-template-areas: 
              "resultat"
              "map"
              "liste";
  }
  #map{
      margin-bottom: 1rem;
  }
}
